body {
  background-color: #181818;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.app {
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #333;
}
